{
  "openapi": "3.0.1",
  "info": {
    "title": "CJA APIs",
    "description": "Open API specification for Customer Journey Analytics APIs. \n\n Note: Adobe may add optional request and response members (name/value pairs) to existing API objects at any time and without notice or changes in versioning. Adobe recommends that you refer to the API documentation of any third-party tool you integrate with our APIs so that such additions are ignored in processing if not understood. If implemented properly, such additions are non-breaking changes for your implementation. Adobe will not remove parameters or add required parameters without first providing standard notification through release notes. \n\n **Interactive API**: You can interact with CJA APIs directly from this reference page. Once [authenticated](http://www.adobe.com/go/platform-api-authentication-en), you can use your credentials to make calls from this site. After clicking the **Try it** button on the right rail of this site, enter the required header parameters (**Authorization**, **x-api-key**, and **x-gw-ims-org-id**), as well as any required parameters for the endpoint, and then click **Send**. The header parameters you specified will remain in effect for the entire session.  \n\n **Related documentation**: [CJA API endpoint guides](https://developer.adobe.com/cja-apis/docs/endpoints/)",
    "version": "0.1.0"
  },
  "servers": [
    {
      "url": "https://cja.adobe.io"
    }
  ],
  "paths": {
    "/configuration/users/me": {
      "get": {
        "tags": [
          "Configuration API"
        ],
        "summary": "Returns the current user",
        "operationId": "getCurrentUser",
        "parameters": [
          {
            "$ref": "#/components/parameters/authorization"
          },
          {
            "$ref": "#/components/parameters/x-api-key"
          },
          {
            "$ref": "#/components/parameters/x-gw-ims-org-id"
          },
          {
            "name": "expansion",
            "in": "query",
            "description": "Comma-delimited list of additional metadata fields to include on response.",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "admin"
                ]
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "countryCode": {
                      "type": "string"
                    },
                    "mrktPermEmail": {
                      "type": "boolean"
                    },
                    "emailVerified": {
                      "type": "boolean"
                    },
                    "first_name": {
                      "type": "string"
                    },
                    "organization": {
                      "type": "string"
                    },
                    "phoneNumber": {
                      "type": "string"
                    },
                    "email": {
                      "type": "string"
                    },
                    "userId": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "last_name": {
                      "type": "string"
                    },
                    "utcOffset": {
                      "type": "string"
                    },
                    "mrktPerm": {
                      "type": "string"
                    },
                    "displayName": {
                      "type": "string"
                    },
                    "roles": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "principal": {
                            "type": "string"
                          },
                          "organization": {
                            "type": "string"
                          },
                          "named_role": {
                            "type": "string"
                          },
                          "target": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/calculatedmetrics/{id}": {
      "get": {
        "tags": [
          "Calculated Metrics API"
        ],
        "summary": "Retrieve a single calculated metric by id",
        "description": "A calculated metric response will always include these default items: *id, name, description, rsid, owner, polarity, precision, type* \n\nOther attributes can be optionally requested through the 'expansion' field:\n\n* *modified*: Date that the metric was last modified (ISO 8601)\n* *definition*: Calculated metric definition as JSON object\n* *compatibility*: Products that the metric is compatible with\n* *reportSuiteName*: Also return the friendly Report Suite name for the RSID\n* *tags*: Gives all existing tags associated with the calculated metric\n\nFor more information about calculated metrics go [here](https://github.com/AdobeDocs/analytics-2.0-apis/blob/master/calculatedmetrics.md)\n\n",
        "operationId": "findOneCalculatedMetric_1",
        "parameters": [
          {
            "$ref": "#/components/parameters/authorization"
          },
          {
            "$ref": "#/components/parameters/x-api-key"
          },
          {
            "$ref": "#/components/parameters/x-gw-ims-org-id"
          },
          {
            "name": "id",
            "in": "path",
            "description": "The calculated metric ID to retrieve",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "expansion",
            "in": "query",
            "description": "Comma-delimited list of additional calculated metric metadata fields to include on response.",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "approved",
                  "favorite",
                  "shares",
                  "tags",
                  "sharesFullName",
                  "usageSummary",
                  "usageSummaryWithRelevancyScore",
                  "reportSuiteName",
                  "siteTitle",
                  "ownerFullName",
                  "modified",
                  "migratedIds",
                  "isDeleted",
                  "definition",
                  "authorization",
                  "compatibility",
                  "legacyId",
                  "internal",
                  "dataGroup",
                  "categories",
                  "reportTimeAttribution",
                  "warning"
                ]
              }
            }
          },
          {
            "name": "includeHidden",
            "in": "query",
            "description": "Whether to include variables that are hidden in the UI or that the user doesn't have permission to.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "toBeUsedInRsid",
            "in": "query",
            "description": "The report suite where the calculated metric is intended to be used. This report suite will be used to determine things like compatibility and permissions.  If it is not specified then the permissions will be calculated based on the union of all metrics authorized in all groups the user belongs to.  If the compatibility expansion is specified and toBeUsedInRsid is not then the compatibility returned is based off the compatibility from the last time the calculated metric was saved.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "locale",
            "in": "query",
            "description": "Locale",
            "schema": {
              "type": "string",
              "default": "en_US"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "definition"
                  ],
                  "type": "object",
                  "properties": {
                    "rsid": {
                      "type": "string"
                    },
                    "reportSuiteName": {
                      "type": "string"
                    },
                    "dataId": {
                      "type": "string"
                    },
                    "dataName": {
                      "type": "string"
                    },
                    "id": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string"
                    },
                    "isDeleted": {
                      "type": "boolean"
                    },
                    "migratedIds": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "internal": {
                      "type": "boolean"
                    },
                    "owner": {
                      "type": "object",
                      "properties": {}
                    },
                    "polarity": {
                      "type": "string",
                      "description": "Set metric polarity, which indicates whether it's good or bad if a given metric goes up. Default=positive",
                      "enum": [
                        "positive",
                        "negative"
                      ]
                    },
                    "alternateVariableNames": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string"
                        },
                        "baseName": {
                          "type": "string"
                        },
                        "curatedName": {
                          "type": "string"
                        }
                      }
                    },
                    "precision": {
                      "type": "integer",
                      "description": "Number of decimal places to include in calculated metric result",
                      "format": "int32"
                    },
                    "type": {
                      "type": "string",
                      "enum": [
                        "CURRENCY",
                        "TIME",
                        "DECIMAL",
                        "PERCENT"
                      ]
                    },
                    "definition": {
                      "type": "object",
                      "properties": {},
                      "description": "Calculated metric definition object"
                    },
                    "compatibility": {
                      "type": "object",
                      "properties": {
                        "valid": {
                          "type": "boolean"
                        },
                        "message": {
                          "type": "string"
                        },
                        "identityMetrics": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "identity": {
                                "type": "string"
                              },
                              "dimensionView": {
                                "type": "string",
                                "enum": [
                                  "LINEAR_ALLOCATION",
                                  "PARTICIPATION_ALLOCATION",
                                  "LAST_TOUCH_ALLOCATION",
                                  "MC_FIRST_TOUCH_ALLOCATION",
                                  "MC_LAST_TOUCH_ALLOCATION"
                                ]
                              },
                              "allocationModel": {
                                "type": "string",
                                "enum": [
                                  "ALLOCATION_FIRST_TOUCH",
                                  "ALLOCATION_FIRST_TOUCH_DIM",
                                  "ALLOCATION_LAST_TOUCH",
                                  "ALLOCATION_LAST_TOUCH_DIM",
                                  "ALLOCATION_INSTANCE",
                                  "ALLOCATION_DEDUPED_INSTANCE",
                                  "ALLOCATION_LAST_KNOWN",
                                  "ALLOCATION_LEGACY",
                                  "ALLOCATION_LINEAR",
                                  "ALLOCATION_PARTICIPATION",
                                  "ALLOCATION_PARTICIPATION_DIM",
                                  "ALLOCATION_POSITION_BASED",
                                  "ALLOCATION_TIME_DECAY",
                                  "ALLOCATION_U_SHAPED",
                                  "ALLOCATION_J_SHAPED",
                                  "ALLOCATION_REVERSE_J_SHAPED",
                                  "ALLOCATION_DEDUPED_LINEAR",
                                  "ALLOCATION_ALGORITHMIC"
                                ]
                              }
                            }
                          }
                        },
                        "identityDimensions": {
                          "uniqueItems": true,
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "segments": {
                          "uniqueItems": true,
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "functions": {
                          "uniqueItems": true,
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "validator_version": {
                          "type": "string"
                        },
                        "supported_products": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "supported_schema": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "legacyId": {
                      "type": "string"
                    },
                    "template": {
                      "type": "boolean"
                    },
                    "authorization": {
                      "type": "object",
                      "properties": {
                        "authorized": {
                          "type": "boolean"
                        },
                        "permissioned": {
                          "type": "boolean"
                        },
                        "unAuthorizedMetricIdentities": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "unAuthorizedSegmentIds": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "notAllowedForReportingMetricIdentities": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "allowedForReporting": {
                          "type": "boolean"
                        }
                      }
                    },
                    "dataGroup": {
                      "type": "string"
                    },
                    "solution": {
                      "type": "boolean"
                    },
                    "curatedItem": {
                      "type": "boolean"
                    },
                    "categories": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "reportTimeAttribution": {
                      "type": "boolean"
                    },
                    "warning": {
                      "type": "object",
                      "properties": {
                        "title": {
                          "type": "string"
                        },
                        "text": {
                          "type": "string"
                        },
                        "helpLink": {
                          "type": "string"
                        }
                      }
                    },
                    "tags": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": {
                          "type": "object",
                          "properties": {}
                        }
                      }
                    },
                    "shares": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": {
                          "type": "object",
                          "properties": {}
                        }
                      }
                    },
                    "approved": {
                      "type": "boolean"
                    },
                    "favorite": {
                      "type": "boolean"
                    },
                    "usageSummary": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "object",
                        "properties": {}
                      }
                    },
                    "siteTitle": {
                      "type": "string"
                    },
                    "modified": {
                      "type": "string",
                      "format": "date-time"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Requesting non-shared calculated metrics for other users is restricted to admin users",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errorCode": {
                      "type": "string",
                      "enum": [
                        "no_feature_access_to_advanced_calculated_metrics",
                        "invalid_metric_access",
                        "method_not_allowed",
                        "resource_conflict",
                        "invalid_access",
                        "resource_temporarily_unavailable",
                        "external_api_failure",
                        "aam_failure",
                        "resource_already_exists",
                        "invalid_state",
                        "invalid_json_input",
                        "invalid_parameters",
                        "invalid_dimension_access",
                        "unsupported_data_type",
                        "resource_not_found",
                        "insufficient_access",
                        "health_check_error",
                        "invalid_data",
                        "unexpected_error",
                        "external_api_error",
                        "unsupported_resource",
                        "io_error",
                        "action_not_implemented",
                        "too_many_requests",
                        "payload_too_large",
                        "invalid_request",
                        "invalid_client_id",
                        "unauthorized",
                        "authorization_error",
                        "invalid_token",
                        "insufficient_scope",
                        "bluecoat_unauthorized"
                      ]
                    },
                    "errorDescription": {
                      "type": "string"
                    },
                    "errorId": {
                      "type": "string"
                    },
                    "errorDetails": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "object",
                        "properties": {}
                      }
                    },
                    "rootCauseService": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "External API error; calculated metric retrieval failed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errorCode": {
                      "type": "string",
                      "enum": [
                        "no_feature_access_to_advanced_calculated_metrics",
                        "invalid_metric_access",
                        "method_not_allowed",
                        "resource_conflict",
                        "invalid_access",
                        "resource_temporarily_unavailable",
                        "external_api_failure",
                        "aam_failure",
                        "resource_already_exists",
                        "invalid_state",
                        "invalid_json_input",
                        "invalid_parameters",
                        "invalid_dimension_access",
                        "unsupported_data_type",
                        "resource_not_found",
                        "insufficient_access",
                        "health_check_error",
                        "invalid_data",
                        "unexpected_error",
                        "external_api_error",
                        "unsupported_resource",
                        "io_error",
                        "action_not_implemented",
                        "too_many_requests",
                        "payload_too_large",
                        "invalid_request",
                        "invalid_client_id",
                        "unauthorized",
                        "authorization_error",
                        "invalid_token",
                        "insufficient_scope",
                        "bluecoat_unauthorized"
                      ]
                    },
                    "errorDescription": {
                      "type": "string"
                    },
                    "errorId": {
                      "type": "string"
                    },
                    "errorDetails": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "object",
                        "properties": {}
                      }
                    },
                    "rootCauseService": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Calculated Metrics API"
        ],
        "summary": "Update an existing calculated metric",
        "description": "The following fields can be modified through this endpoint: <br><b>name, description, definition, owner, rsid</b>\nExample \"defintion\" for use in testing API below (\"Visits per visitor\"):<br>\n\"definition\": {\r\n      \"formula\": {\r\n        \"func\": \"divide\",\r\n        \"col1\": {\r\n          \"func\": \"metric\",\r\n          \"name\": \"metrics/visits\",\r\n          \"description\": \"Visits\"\r\n        },\r\n        \"col2\": {\r\n          \"func\": \"metric\",\r\n          \"name\": \"metrics/visitors\",\r\n          \"description\": \"Unique Visitors\"\r\n        }\r\n      },\r\n      \"func\": \"calc-metric\",\r\n      \"version\": [\r\n        1,\r\n        0,\r\n        0\r\n      ]\r\n    }<br><br>Response will be the newly modified calculated metric object after the update request completes.<br><br><b><span style=\"text-decoration: underline;\">CalculatedMetricResponse</span></b><br>A calculated metric response will always include these default items:* id, name, description, rsid, owner* \n\nOther attributes can be optionally requested through the 'expansion' field as defined/documented in the GET endpoints (see GET \"/calculatedmetrics\" or GET \"/calculatedmetrics/{id}\" for more documentation).",
        "operationId": "calculatedmetrics_updateCalculatedMetric",
        "parameters": [
          {
            "$ref": "#/components/parameters/authorization"
          },
          {
            "$ref": "#/components/parameters/x-api-key"
          },
          {
            "$ref": "#/components/parameters/x-gw-ims-org-id"
          },
          {
            "name": "expansion",
            "in": "query",
            "description": "Comma-delimited list of additional calculated metric metadata fields to include on response.",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "approved",
                  "favorite",
                  "shares",
                  "tags",
                  "sharesFullName",
                  "usageSummary",
                  "usageSummaryWithRelevancyScore",
                  "reportSuiteName",
                  "siteTitle",
                  "ownerFullName",
                  "modified",
                  "migratedIds",
                  "isDeleted",
                  "definition",
                  "authorization",
                  "compatibility",
                  "legacyId",
                  "internal",
                  "dataGroup",
                  "categories",
                  "reportTimeAttribution",
                  "warning"
                ]
              }
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "Calculated Metric ID to be updated",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "locale",
            "in": "query",
            "description": "Locale",
            "schema": {
              "type": "string",
              "default": "en_US"
            }
          },
          {
            "name": "cached",
            "in": "query",
            "description": "Use cached results",
            "schema": {
              "type": "boolean",
              "default": true,
              "enum": [
                true,
                false
              ]
            }
          }
        ],
        "requestBody": {
          "description": "JSON-formatted Object containing key/value pairs to be updated.",
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "definition"
                ],
                "type": "object",
                "properties": {
                  "rsid": {
                    "type": "string"
                  },
                  "reportSuiteName": {
                    "type": "string"
                  },
                  "dataId": {
                    "type": "string"
                  },
                  "dataName": {
                    "type": "string"
                  },
                  "id": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "isDeleted": {
                    "type": "boolean"
                  },
                  "migratedIds": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "internal": {
                    "type": "boolean"
                  },
                  "owner": {
                    "type": "object",
                    "properties": {}
                  },
                  "polarity": {
                    "type": "string",
                    "description": "Set metric polarity, which indicates whether it's good or bad if a given metric goes up. Default=positive",
                    "enum": [
                      "positive",
                      "negative"
                    ]
                  },
                  "alternateVariableNames": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string"
                      },
                      "baseName": {
                        "type": "string"
                      },
                      "curatedName": {
                        "type": "string"
                      }
                    }
                  },
                  "precision": {
                    "type": "integer",
                    "description": "Number of decimal places to include in calculated metric result",
                    "format": "int32"
                  },
                  "type": {
                    "type": "string",
                    "enum": [
                      "CURRENCY",
                      "TIME",
                      "DECIMAL",
                      "PERCENT"
                    ]
                  },
                  "definition": {
                    "type": "object",
                    "properties": {},
                    "description": "Calculated metric definition object"
                  },
                  "compatibility": {
                    "type": "object",
                    "properties": {
                      "valid": {
                        "type": "boolean"
                      },
                      "message": {
                        "type": "string"
                      },
                      "identityMetrics": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "identity": {
                              "type": "string"
                            },
                            "dimensionView": {
                              "type": "string",
                              "enum": [
                                "LINEAR_ALLOCATION",
                                "PARTICIPATION_ALLOCATION",
                                "LAST_TOUCH_ALLOCATION",
                                "MC_FIRST_TOUCH_ALLOCATION",
                                "MC_LAST_TOUCH_ALLOCATION"
                              ]
                            },
                            "allocationModel": {
                              "type": "string",
                              "enum": [
                                "ALLOCATION_FIRST_TOUCH",
                                "ALLOCATION_FIRST_TOUCH_DIM",
                                "ALLOCATION_LAST_TOUCH",
                                "ALLOCATION_LAST_TOUCH_DIM",
                                "ALLOCATION_INSTANCE",
                                "ALLOCATION_DEDUPED_INSTANCE",
                                "ALLOCATION_LAST_KNOWN",
                                "ALLOCATION_LEGACY",
                                "ALLOCATION_LINEAR",
                                "ALLOCATION_PARTICIPATION",
                                "ALLOCATION_PARTICIPATION_DIM",
                                "ALLOCATION_POSITION_BASED",
                                "ALLOCATION_TIME_DECAY",
                                "ALLOCATION_U_SHAPED",
                                "ALLOCATION_J_SHAPED",
                                "ALLOCATION_REVERSE_J_SHAPED",
                                "ALLOCATION_DEDUPED_LINEAR",
                                "ALLOCATION_ALGORITHMIC"
                              ]
                            }
                          }
                        }
                      },
                      "identityDimensions": {
                        "uniqueItems": true,
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      "segments": {
                        "uniqueItems": true,
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      "functions": {
                        "uniqueItems": true,
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      "validator_version": {
                        "type": "string"
                      },
                      "supported_products": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      "supported_schema": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "legacyId": {
                    "type": "string"
                  },
                  "template": {
                    "type": "boolean"
                  },
                  "authorization": {
                    "type": "object",
                    "properties": {
                      "authorized": {
                        "type": "boolean"
                      },
                      "permissioned": {
                        "type": "boolean"
                      },
                      "unAuthorizedMetricIdentities": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      "unAuthorizedSegmentIds": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      "notAllowedForReportingMetricIdentities": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      "allowedForReporting": {
                        "type": "boolean"
                      }
                    }
                  },
                  "dataGroup": {
                    "type": "string"
                  },
                  "solution": {
                    "type": "boolean"
                  },
                  "curatedItem": {
                    "type": "boolean"
                  },
                  "categories": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "reportTimeAttribution": {
                    "type": "boolean"
                  },
                  "warning": {
                    "type": "object",
                    "properties": {
                      "title": {
                        "type": "string"
                      },
                      "text": {
                        "type": "string"
                      },
                      "helpLink": {
                        "type": "string"
                      }
                    }
                  },
                  "tags": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "object",
                        "properties": {}
                      }
                    }
                  },
                  "shares": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "object",
                        "properties": {}
                      }
                    }
                  },
                  "approved": {
                    "type": "boolean"
                  },
                  "favorite": {
                    "type": "boolean"
                  },
                  "usageSummary": {
                    "type": "object",
                    "additionalProperties": {
                      "type": "object",
                      "properties": {}
                    }
                  },
                  "siteTitle": {
                    "type": "string"
                  },
                  "modified": {
                    "type": "string",
                    "format": "date-time"
                  }
                }
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "definition"
                  ],
                  "type": "object",
                  "properties": {
                    "rsid": {
                      "type": "string"
                    },
                    "reportSuiteName": {
                      "type": "string"
                    },
                    "dataId": {
                      "type": "string"
                    },
                    "dataName": {
                      "type": "string"
                    },
                    "id": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string"
                    },
                    "isDeleted": {
                      "type": "boolean"
                    },
                    "migratedIds": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "internal": {
                      "type": "boolean"
                    },
                    "owner": {
                      "type": "object",
                      "properties": {}
                    },
                    "polarity": {
                      "type": "string",
                      "description": "Set metric polarity, which indicates whether it's good or bad if a given metric goes up. Default=positive",
                      "enum": [
                        "positive",
                        "negative"
                      ]
                    },
                    "alternateVariableNames": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string"
                        },
                        "baseName": {
                          "type": "string"
                        },
                        "curatedName": {
                          "type": "string"
                        }
                      }
                    },
                    "precision": {
                      "type": "integer",
                      "description": "Number of decimal places to include in calculated metric result",
                      "format": "int32"
                    },
                    "type": {
                      "type": "string",
                      "enum": [
                        "CURRENCY",
                        "TIME",
                        "DECIMAL",
                        "PERCENT"
                      ]
                    },
                    "definition": {
                      "type": "object",
                      "properties": {},
                      "description": "Calculated metric definition object"
                    },
                    "compatibility": {
                      "type": "object",
                      "properties": {
                        "valid": {
                          "type": "boolean"
                        },
                        "message": {
                          "type": "string"
                        },
                        "identityMetrics": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "identity": {
                                "type": "string"
                              },
                              "dimensionView": {
                                "type": "string",
                                "enum": [
                                  "LINEAR_ALLOCATION",
                                  "PARTICIPATION_ALLOCATION",
                                  "LAST_TOUCH_ALLOCATION",
                                  "MC_FIRST_TOUCH_ALLOCATION",
                                  "MC_LAST_TOUCH_ALLOCATION"
                                ]
                              },
                              "allocationModel": {
                                "type": "string",
                                "enum": [
                                  "ALLOCATION_FIRST_TOUCH",
                                  "ALLOCATION_FIRST_TOUCH_DIM",
                                  "ALLOCATION_LAST_TOUCH",
                                  "ALLOCATION_LAST_TOUCH_DIM",
                                  "ALLOCATION_INSTANCE",
                                  "ALLOCATION_DEDUPED_INSTANCE",
                                  "ALLOCATION_LAST_KNOWN",
                                  "ALLOCATION_LEGACY",
                                  "ALLOCATION_LINEAR",
                                  "ALLOCATION_PARTICIPATION",
                                  "ALLOCATION_PARTICIPATION_DIM",
                                  "ALLOCATION_POSITION_BASED",
                                  "ALLOCATION_TIME_DECAY",
                                  "ALLOCATION_U_SHAPED",
                                  "ALLOCATION_J_SHAPED",
                                  "ALLOCATION_REVERSE_J_SHAPED",
                                  "ALLOCATION_DEDUPED_LINEAR",
                                  "ALLOCATION_ALGORITHMIC"
                                ]
                              }
                            }
                          }
                        },
                        "identityDimensions": {
                          "uniqueItems": true,
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "segments": {
                          "uniqueItems": true,
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "functions": {
                          "uniqueItems": true,
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "validator_version": {
                          "type": "string"
                        },
                        "supported_products": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "supported_schema": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "legacyId": {
                      "type": "string"
                    },
                    "template": {
                      "type": "boolean"
                    },
                    "authorization": {
                      "type": "object",
                      "properties": {
                        "authorized": {
                          "type": "boolean"
                        },
                        "permissioned": {
                          "type": "boolean"
                        },
                        "unAuthorizedMetricIdentities": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "unAuthorizedSegmentIds": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "notAllowedForReportingMetricIdentities": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "allowedForReporting": {
                          "type": "boolean"
                        }
                      }
                    },
                    "dataGroup": {
                      "type": "string"
                    },
                    "solution": {
                      "type": "boolean"
                    },
                    "curatedItem": {
                      "type": "boolean"
                    },
                    "categories": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "reportTimeAttribution": {
                      "type": "boolean"
                    },
                    "warning": {
                      "type": "object",
                      "properties": {
                        "title": {
                          "type": "string"
                        },
                        "text": {
                          "type": "string"
                        },
                        "helpLink": {
                          "type": "string"
                        }
                      }
                    },
                    "tags": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": {
                          "type": "object",
                          "properties": {}
                        }
                      }
                    },
                    "shares": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": {
                          "type": "object",
                          "properties": {}
                        }
                      }
                    },
                    "approved": {
                      "type": "boolean"
                    },
                    "favorite": {
                      "type": "boolean"
                    },
                    "usageSummary": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "object",
                        "properties": {}
                      }
                    },
                    "siteTitle": {
                      "type": "string"
                    },
                    "modified": {
                      "type": "string",
                      "format": "date-time"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Definition must be formatted as a JSON Object",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errorCode": {
                      "type": "string",
                      "enum": [
                        "no_feature_access_to_advanced_calculated_metrics",
                        "invalid_metric_access",
                        "method_not_allowed",
                        "resource_conflict",
                        "invalid_access",
                        "resource_temporarily_unavailable",
                        "external_api_failure",
                        "aam_failure",
                        "resource_already_exists",
                        "invalid_state",
                        "invalid_json_input",
                        "invalid_parameters",
                        "invalid_dimension_access",
                        "unsupported_data_type",
                        "resource_not_found",
                        "insufficient_access",
                        "health_check_error",
                        "invalid_data",
                        "unexpected_error",
                        "external_api_error",
                        "unsupported_resource",
                        "io_error",
                        "action_not_implemented",
                        "too_many_requests",
                        "payload_too_large",
                        "invalid_request",
                        "invalid_client_id",
                        "unauthorized",
                        "authorization_error",
                        "invalid_token",
                        "insufficient_scope",
                        "bluecoat_unauthorized"
                      ]
                    },
                    "errorDescription": {
                      "type": "string"
                    },
                    "errorId": {
                      "type": "string"
                    },
                    "errorDetails": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "object",
                        "properties": {}
                      }
                    },
                    "rootCauseService": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Company mismatch; calculated metric ownership can only be transferred within the same organization",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errorCode": {
                      "type": "string",
                      "enum": [
                        "no_feature_access_to_advanced_calculated_metrics",
                        "invalid_metric_access",
                        "method_not_allowed",
                        "resource_conflict",
                        "invalid_access",
                        "resource_temporarily_unavailable",
                        "external_api_failure",
                        "aam_failure",
                        "resource_already_exists",
                        "invalid_state",
                        "invalid_json_input",
                        "invalid_parameters",
                        "invalid_dimension_access",
                        "unsupported_data_type",
                        "resource_not_found",
                        "insufficient_access",
                        "health_check_error",
                        "invalid_data",
                        "unexpected_error",
                        "external_api_error",
                        "unsupported_resource",
                        "io_error",
                        "action_not_implemented",
                        "too_many_requests",
                        "payload_too_large",
                        "invalid_request",
                        "invalid_client_id",
                        "unauthorized",
                        "authorization_error",
                        "invalid_token",
                        "insufficient_scope",
                        "bluecoat_unauthorized"
                      ]
                    },
                    "errorDescription": {
                      "type": "string"
                    },
                    "errorId": {
                      "type": "string"
                    },
                    "errorDetails": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "object",
                        "properties": {}
                      }
                    },
                    "rootCauseService": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "User does not have permission to update this calculated metric",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errorCode": {
                      "type": "string",
                      "enum": [
                        "no_feature_access_to_advanced_calculated_metrics",
                        "invalid_metric_access",
                        "method_not_allowed",
                        "resource_conflict",
                        "invalid_access",
                        "resource_temporarily_unavailable",
                        "external_api_failure",
                        "aam_failure",
                        "resource_already_exists",
                        "invalid_state",
                        "invalid_json_input",
                        "invalid_parameters",
                        "invalid_dimension_access",
                        "unsupported_data_type",
                        "resource_not_found",
                        "insufficient_access",
                        "health_check_error",
                        "invalid_data",
                        "unexpected_error",
                        "external_api_error",
                        "unsupported_resource",
                        "io_error",
                        "action_not_implemented",
                        "too_many_requests",
                        "payload_too_large",
                        "invalid_request",
                        "invalid_client_id",
                        "unauthorized",
                        "authorization_error",
                        "invalid_token",
                        "insufficient_scope",
                        "bluecoat_unauthorized"
                      ]
                    },
                    "errorDescription": {
                      "type": "string"
                    },
                    "errorId": {
                      "type": "string"
                    },
                    "errorDetails": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "object",
                        "properties": {}
                      }
                    },
                    "rootCauseService": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "External API error; Calculated metric update or retrieval failed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errorCode": {
                      "type": "string",
                      "enum": [
                        "no_feature_access_to_advanced_calculated_metrics",
                        "invalid_metric_access",
                        "method_not_allowed",
                        "resource_conflict",
                        "invalid_access",
                        "resource_temporarily_unavailable",
                        "external_api_failure",
                        "aam_failure",
                        "resource_already_exists",
                        "invalid_state",
                        "invalid_json_input",
                        "invalid_parameters",
                        "invalid_dimension_access",
                        "unsupported_data_type",
                        "resource_not_found",
                        "insufficient_access",
                        "health_check_error",
                        "invalid_data",
                        "unexpected_error",
                        "external_api_error",
                        "unsupported_resource",
                        "io_error",
                        "action_not_implemented",
                        "too_many_requests",
                        "payload_too_large",
                        "invalid_request",
                        "invalid_client_id",
                        "unauthorized",
                        "authorization_error",
                        "invalid_token",
                        "insufficient_scope",
                        "bluecoat_unauthorized"
                      ]
                    },
                    "errorDescription": {
                      "type": "string"
                    },
                    "errorId": {
                      "type": "string"
                    },
                    "errorDetails": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "object",
                        "properties": {}
                      }
                    },
                    "rootCauseService": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      },
      "delete": {
        "tags": [
          "Calculated Metrics API"
        ],
        "summary": "Deletion of Calculated Metrics by Id",
        "operationId": "calculatedmetrics_deleteCalculatedMetric",
        "parameters": [
          {
            "$ref": "#/components/parameters/authorization"
          },
          {
            "$ref": "#/components/parameters/x-api-key"
          },
          {
            "$ref": "#/components/parameters/x-gw-ims-org-id"
          },
          {
            "name": "id",
            "in": "path",
            "description": "The calculated metric ID to be deleted",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "locale",
            "in": "query",
            "description": "Locale",
            "schema": {
              "type": "string",
              "default": "en_US"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "External API error; Calculated metric delete failed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errorCode": {
                      "type": "string",
                      "enum": [
                        "no_feature_access_to_advanced_calculated_metrics",
                        "invalid_metric_access",
                        "method_not_allowed",
                        "resource_conflict",
                        "invalid_access",
                        "resource_temporarily_unavailable",
                        "external_api_failure",
                        "aam_failure",
                        "resource_already_exists",
                        "invalid_state",
                        "invalid_json_input",
                        "invalid_parameters",
                        "invalid_dimension_access",
                        "unsupported_data_type",
                        "resource_not_found",
                        "insufficient_access",
                        "health_check_error",
                        "invalid_data",
                        "unexpected_error",
                        "external_api_error",
                        "unsupported_resource",
                        "io_error",
                        "action_not_implemented",
                        "too_many_requests",
                        "payload_too_large",
                        "invalid_request",
                        "invalid_client_id",
                        "unauthorized",
                        "authorization_error",
                        "invalid_token",
                        "insufficient_scope",
                        "bluecoat_unauthorized"
                      ]
                    },
                    "errorDescription": {
                      "type": "string"
                    },
                    "errorId": {
                      "type": "string"
                    },
                    "errorDetails": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "object",
                        "properties": {}
                      }
                    },
                    "rootCauseService": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/calculatedmetrics": {
      "get": {
        "tags": [
          "Calculated Metrics API"
        ],
        "summary": "Retrieve many calculated metrics",
        "description": "A calculated metric response will always include these default items: *id, name, description, rsid, owner, polarity, precision, type* \n\nOther attributes can be optionally requested through the 'expansion' field:\n\n* *modified*: Date that the metric was last modified (ISO 8601)\n* *definition*: Calculated metric definition as JSON object\n* *compatibility*: Products that the metric is compatible with\n* *reportSuiteName*: Also return the friendly Report Suite name for the RSID\n* *tags*: Gives all existing tags associated with the calculated metric\n\nFor more information about calculated metrics go [here](https://github.com/AdobeDocs/analytics-2.0-apis/blob/master/calculatedmetrics.md)\n\n",
        "operationId": "findCalculatedMetrics_1",
        "parameters": [
          {
            "$ref": "#/components/parameters/authorization"
          },
          {
            "$ref": "#/components/parameters/x-api-key"
          },
          {
            "$ref": "#/components/parameters/x-gw-ims-org-id"
          },
          {
            "name": "expansion",
            "in": "query",
            "description": "Comma-delimited list of additional calculated metric metadata fields to include on response.",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "dataName",
                  "approved",
                  "favorite",
                  "shares",
                  "tags",
                  "sharesFullName",
                  "usageSummary",
                  "usageSummaryWithRelevancyScore",
                  "reportSuiteName",
                  "siteTitle",
                  "ownerFullName",
                  "modified",
                  "migratedIds",
                  "isDeleted",
                  "definition",
                  "authorization",
                  "compatibility",
                  "legacyId",
                  "internal",
                  "dataGroup",
                  "categories"
                ]
              }
            }
          },
          {
            "name": "includeType",
            "in": "query",
            "description": "Include additional calculated metrics not owned by user. The \"all\" option takes precedence over \"shared\"",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "all",
                  "shared",
                  "templates",
                  "unauthorized",
                  "deleted",
                  "internal",
                  "curatedItem"
                ]
              }
            }
          },
          {
            "name": "dataIds",
            "in": "query",
            "description": "Filter list to only include calculated metrics tied to specified RSID list (comma-delimited)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ownerId",
            "in": "query",
            "description": "Filter list to only include calculated metrics owned by the specified loginId",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filterByIds",
            "in": "query",
            "description": "Filter list to only include calculated metrics in the specified list (comma-delimited list of IDs) (this is the same as calculatedMetricFilter, and is overwritten by calculatedMetricFilter",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "toBeUsedInRsid",
            "in": "query",
            "description": "The data view where the calculated metric intended to be used.  This data view will be used to determine things like compatibility and permissions.  If it is not specified then the permissions will be calculated based on the union of all metrics authorized in all groups the user belongs to.  If the compatibility expansion is specified and toBeUsedInRsid is not then the compatibility returned is based off the compatibility from the last time the calculated metric was saved.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "locale",
            "in": "query",
            "description": "Locale",
            "schema": {
              "type": "string",
              "default": "en_US"
            }
          },
          {
            "name": "favorite",
            "in": "query",
            "description": "Filter list to only include calculated metrics that are favorites",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "approved",
            "in": "query",
            "description": "Filter list to only include calculated metrics that are approved",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "pagination",
            "in": "query",
            "description": "return paginated results",
            "schema": {
              "type": "string",
              "default": "true",
              "enum": [
                "true",
                "false"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results per page",
            "schema": {
              "type": "integer",
              "default": 10
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number (base 0 - first page is \"0\")",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "sortDirection",
            "in": "query",
            "description": "Sort direction (ASC or DESC)",
            "schema": {
              "type": "string",
              "default": "ASC"
            }
          },
          {
            "name": "sortProperty",
            "in": "query",
            "description": "Property to sort by (name, modified_date, id is currently allowed)",
            "schema": {
              "type": "string",
              "default": "id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "required": [
                      "definition"
                    ],
                    "type": "object",
                    "properties": {
                      "rsid": {
                        "type": "string"
                      },
                      "reportSuiteName": {
                        "type": "string"
                      },
                      "dataId": {
                        "type": "string"
                      },
                      "dataName": {
                        "type": "string"
                      },
                      "id": {
                        "type": "string"
                      },
                      "name": {
                        "type": "string"
                      },
                      "description": {
                        "type": "string"
                      },
                      "isDeleted": {
                        "type": "boolean"
                      },
                      "migratedIds": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      "internal": {
                        "type": "boolean"
                      },
                      "owner": {
                        "type": "object",
                        "properties": {}
                      },
                      "polarity": {
                        "type": "string",
                        "description": "Set metric polarity, which indicates whether it's good or bad if a given metric goes up. Default=positive",
                        "enum": [
                          "positive",
                          "negative"
                        ]
                      },
                      "alternateVariableNames": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string"
                          },
                          "baseName": {
                            "type": "string"
                          },
                          "curatedName": {
                            "type": "string"
                          }
                        }
                      },
                      "precision": {
                        "type": "integer",
                        "description": "Number of decimal places to include in calculated metric result",
                        "format": "int32"
                      },
                      "type": {
                        "type": "string",
                        "enum": [
                          "CURRENCY",
                          "TIME",
                          "DECIMAL",
                          "PERCENT"
                        ]
                      },
                      "definition": {
                        "type": "object",
                        "properties": {},
                        "description": "Calculated metric definition object"
                      },
                      "compatibility": {
                        "type": "object",
                        "properties": {
                          "valid": {
                            "type": "boolean"
                          },
                          "message": {
                            "type": "string"
                          },
                          "identityMetrics": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "identity": {
                                  "type": "string"
                                },
                                "dimensionView": {
                                  "type": "string",
                                  "enum": [
                                    "LINEAR_ALLOCATION",
                                    "PARTICIPATION_ALLOCATION",
                                    "LAST_TOUCH_ALLOCATION",
                                    "MC_FIRST_TOUCH_ALLOCATION",
                                    "MC_LAST_TOUCH_ALLOCATION"
                                  ]
                                },
                                "allocationModel": {
                                  "type": "string",
                                  "enum": [
                                    "ALLOCATION_FIRST_TOUCH",
                                    "ALLOCATION_FIRST_TOUCH_DIM",
                                    "ALLOCATION_LAST_TOUCH",
                                    "ALLOCATION_LAST_TOUCH_DIM",
                                    "ALLOCATION_INSTANCE",
                                    "ALLOCATION_DEDUPED_INSTANCE",
                                    "ALLOCATION_LAST_KNOWN",
                                    "ALLOCATION_LEGACY",
                                    "ALLOCATION_LINEAR",
                                    "ALLOCATION_PARTICIPATION",
                                    "ALLOCATION_PARTICIPATION_DIM",
                                    "ALLOCATION_POSITION_BASED",
                                    "ALLOCATION_TIME_DECAY",
                                    "ALLOCATION_U_SHAPED",
                                    "ALLOCATION_J_SHAPED",
                                    "ALLOCATION_REVERSE_J_SHAPED",
                                    "ALLOCATION_DEDUPED_LINEAR",
                                    "ALLOCATION_ALGORITHMIC"
                                  ]
                                }
                              }
                            }
                          },
                          "identityDimensions": {
                            "uniqueItems": true,
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "segments": {
                            "uniqueItems": true,
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "functions": {
                            "uniqueItems": true,
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "validator_version": {
                            "type": "string"
                          },
                          "supported_products": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "supported_schema": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          }
                        }
                      },
                      "legacyId": {
                        "type": "string"
                      },
                      "template": {
                        "type": "boolean"
                      },
                      "authorization": {
                        "type": "object",
                        "properties": {
                          "authorized": {
                            "type": "boolean"
                          },
                          "permissioned": {
                            "type": "boolean"
                          },
                          "unAuthorizedMetricIdentities": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "unAuthorizedSegmentIds": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "notAllowedForReportingMetricIdentities": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "allowedForReporting": {
                            "type": "boolean"
                          }
                        }
                      },
                      "dataGroup": {
                        "type": "string"
                      },
                      "solution": {
                        "type": "boolean"
                      },
                      "curatedItem": {
                        "type": "boolean"
                      },
                      "categories": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      "reportTimeAttribution": {
                        "type": "boolean"
                      },
                      "warning": {
                        "type": "object",
                        "properties": {
                          "title": {
                            "type": "string"
                          },
                          "text": {
                            "type": "string"
                          },
                          "helpLink": {
                            "type": "string"
                          }
                        }
                      },
                      "tags": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "additionalProperties": {
                            "type": "object",
                            "properties": {}
                          }
                        }
                      },
                      "shares": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "additionalProperties": {
                            "type": "object",
                            "properties": {}
                          }
                        }
                      },
                      "approved": {
                        "type": "boolean"
                      },
                      "favorite": {
                        "type": "boolean"
                      },
                      "usageSummary": {
                        "type": "object",
                        "additionalProperties": {
                          "type": "object",
                          "properties": {}
                        }
                      },
                      "siteTitle": {
                        "type": "string"
                      },
                      "modified": {
                        "type": "string",
                        "format": "date-time"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unable to retrieve list of calculated metrics shared with user",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errorCode": {
                      "type": "string",
                      "enum": [
                        "no_feature_access_to_advanced_calculated_metrics",
                        "invalid_metric_access",
                        "method_not_allowed",
                        "resource_conflict",
                        "invalid_access",
                        "resource_temporarily_unavailable",
                        "external_api_failure",
                        "aam_failure",
                        "resource_already_exists",
                        "invalid_state",
                        "invalid_json_input",
                        "invalid_parameters",
                        "invalid_dimension_access",
                        "unsupported_data_type",
                        "resource_not_found",
                        "insufficient_access",
                        "health_check_error",
                        "invalid_data",
                        "unexpected_error",
                        "external_api_error",
                        "unsupported_resource",
                        "io_error",
                        "action_not_implemented",
                        "too_many_requests",
                        "payload_too_large",
                        "invalid_request",
                        "invalid_client_id",
                        "unauthorized",
                        "authorization_error",
                        "invalid_token",
                        "insufficient_scope",
                        "bluecoat_unauthorized"
                      ]
                    },
                    "errorDescription": {
                      "type": "string"
                    },
                    "errorId": {
                      "type": "string"
                    },
                    "errorDetails": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "object",
                        "properties": {}
                      }
                    },
                    "rootCauseService": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Owner filter error; user specified is not in the same company as the requesting user",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errorCode": {
                      "type": "string",
                      "enum": [
                        "no_feature_access_to_advanced_calculated_metrics",
                        "invalid_metric_access",
                        "method_not_allowed",
                        "resource_conflict",
                        "invalid_access",
                        "resource_temporarily_unavailable",
                        "external_api_failure",
                        "aam_failure",
                        "resource_already_exists",
                        "invalid_state",
                        "invalid_json_input",
                        "invalid_parameters",
                        "invalid_dimension_access",
                        "unsupported_data_type",
                        "resource_not_found",
                        "insufficient_access",
                        "health_check_error",
                        "invalid_data",
                        "unexpected_error",
                        "external_api_error",
                        "unsupported_resource",
                        "io_error",
                        "action_not_implemented",
                        "too_many_requests",
                        "payload_too_large",
                        "invalid_request",
                        "invalid_client_id",
                        "unauthorized",
                        "authorization_error",
                        "invalid_token",
                        "insufficient_scope",
                        "bluecoat_unauthorized"
                      ]
                    },
                    "errorDescription": {
                      "type": "string"
                    },
                    "errorId": {
                      "type": "string"
                    },
                    "errorDetails": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "object",
                        "properties": {}
                      }
                    },
                    "rootCauseService": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Requesting non-shared calculated metrics for other users is restricted to admin users",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errorCode": {
                      "type": "string",
                      "enum": [
                        "no_feature_access_to_advanced_calculated_metrics",
                        "invalid_metric_access",
                        "method_not_allowed",
                        "resource_conflict",
                        "invalid_access",
                        "resource_temporarily_unavailable",
                        "external_api_failure",
                        "aam_failure",
                        "resource_already_exists",
                        "invalid_state",
                        "invalid_json_input",
                        "invalid_parameters",
                        "invalid_dimension_access",
                        "unsupported_data_type",
                        "resource_not_found",
                        "insufficient_access",
                        "health_check_error",
                        "invalid_data",
                        "unexpected_error",
                        "external_api_error",
                        "unsupported_resource",
                        "io_error",
                        "action_not_implemented",
                        "too_many_requests",
                        "payload_too_large",
                        "invalid_request",
                        "invalid_client_id",
                        "unauthorized",
                        "authorization_error",
                        "invalid_token",
                        "insufficient_scope",
                        "bluecoat_unauthorized"
                      ]
                    },
                    "errorDescription": {
                      "type": "string"
                    },
                    "errorId": {
                      "type": "string"
                    },
                    "errorDetails": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "object",
                        "properties": {}
                      }
                    },
                    "rootCauseService": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "External API error; Calculated metric retrieval failed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errorCode": {
                      "type": "string",
                      "enum": [
                        "no_feature_access_to_advanced_calculated_metrics",
                        "invalid_metric_access",
                        "method_not_allowed",
                        "resource_conflict",
                        "invalid_access",
                        "resource_temporarily_unavailable",
                        "external_api_failure",
                        "aam_failure",
                        "resource_already_exists",
                        "invalid_state",
                        "invalid_json_input",
                        "invalid_parameters",
                        "invalid_dimension_access",
                        "unsupported_data_type",
                        "resource_not_found",
                        "insufficient_access",
                        "health_check_error",
                        "invalid_data",
                        "unexpected_error",
                        "external_api_error",
                        "unsupported_resource",
                        "io_error",
                        "action_not_implemented",
                        "too_many_requests",
                        "payload_too_large",
                        "invalid_request",
                        "invalid_client_id",
                        "unauthorized",
                        "authorization_error",
                        "invalid_token",
                        "insufficient_scope",
                        "bluecoat_unauthorized"
                      ]
                    },
                    "errorDescription": {
                      "type": "string"
                    },
                    "errorId": {
                      "type": "string"
                    },
                    "errorDetails": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "object",
                        "properties": {}
                      }
                    },
                    "rootCauseService": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/calculatedmetrics/functions": {
      "get": {
        "tags": [
          "Calculated Metrics API"
        ],
        "summary": "Retrieve calculated metric functions",
        "operationId": "calculatedmetrics_getCalculatedMetricFunctions",
        "parameters": [
          {
            "$ref": "#/components/parameters/authorization"
          },
          {
            "$ref": "#/components/parameters/x-api-key"
          },
          {
            "$ref": "#/components/parameters/x-gw-ims-org-id"
          },
          {
            "name": "locale",
            "in": "query",
            "description": "Locale",
            "schema": {
              "type": "string",
              "default": "en_US"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "category": {
                        "type": "string"
                      },
                      "persistable": {
                        "type": "boolean"
                      },
                      "name": {
                        "type": "string"
                      },
                      "namespace": {
                        "type": "string"
                      },
                      "description": {
                        "type": "string"
                      },
                      "exampleKey": {
                        "type": "string"
                      },
                      "example": {
                        "type": "string"
                      },
                      "definition": {
                        "type": "object",
                        "properties": {
                          "func": {
                            "type": "string"
                          },
                          "parameters": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "func": {
                                  "type": "string"
                                },
                                "name": {
                                  "type": "string"
                                },
                                "type": {
                                  "type": "string"
                                },
                                "friendlyNameKey": {
                                  "type": "string"
                                },
                                "descKey": {
                                  "type": "string"
                                },
                                "friendlyName": {
                                  "type": "string"
                                },
                                "description": {
                                  "type": "string"
                                },
                                "default-value": {
                                  "type": "object",
                                  "properties": {}
                                }
                              }
                            }
                          },
                          "formula": {
                            "type": "object",
                            "additionalProperties": {
                              "type": "object",
                              "properties": {}
                            }
                          },
                          "version": {
                            "type": "array",
                            "items": {
                              "type": "integer",
                              "format": "int32"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "External API error; Calculated metric functions retrieval failed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errorCode": {
                      "type": "string",
                      "enum": [
                        "no_feature_access_to_advanced_calculated_metrics",
                        "invalid_metric_access",
                        "method_not_allowed",
                        "resource_conflict",
                        "invalid_access",
                        "resource_temporarily_unavailable",
                        "external_api_failure",
                        "aam_failure",
                        "resource_already_exists",
                        "invalid_state",
                        "invalid_json_input",
                        "invalid_parameters",
                        "invalid_dimension_access",
                        "unsupported_data_type",
                        "resource_not_found",
                        "insufficient_access",
                        "health_check_error",
                        "invalid_data",
                        "unexpected_error",
                        "external_api_error",
                        "unsupported_resource",
                        "io_error",
                        "action_not_implemented",
                        "too_many_requests",
                        "payload_too_large",
                        "invalid_request",
                        "invalid_client_id",
                        "unauthorized",
                        "authorization_error",
                        "invalid_token",
                        "insufficient_scope",
                        "bluecoat_unauthorized"
                      ]
                    },
                    "errorDescription": {
                      "type": "string"
                    },
                    "errorId": {
                      "type": "string"
                    },
                    "errorDetails": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "object",
                        "properties": {}
                      }
[...]
